.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  padding: 2rem 4rem;
}

.footer hr {
  background: #c7c7c7;
  width: 80%;
  height: 3px;
  border: none;
  border-radius: 10px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__logo img {
  width: 12rem;
}

.footer__logo p {
  color: #383838;
  font-size: 3.6rem;
  font-weight: 700;
}

.footer__links {
  display: flex;
  gap: 5rem;

  color: #252525;
  font-size: 1.8rem;
  list-style: none;
}

.footer__links li {
  cursor: pointer;
}

.footer__social--icons {
  display: flex;
  gap: 2rem;
}

.footer__icons--container {
  padding: 1.2rem 1.2rem 0.6rem;
  background: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.footer__icons--container:hover {
  background: rgba(0, 0, 0, 0.3);
}

.footer__social--icons img {
  width: 3.4rem;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  width: 100%;
  margin-bottom: 2.8rem;
  color: #1a1a1a;
  font-size: 2rem;
}

.footer__copyright hr {
  background: #c7c7c7;
  width: 80%;
  height: 0.3rem;
  border: none;
  border-radius: 1rem;
}
